<div class="task-description">
    <p>Форкнуть шаблон приложения и на его основе реализовать в отдельном аккуратно оформленном модуле, в отдельном каталоге</p>
    <p>структурную директиву ifViewportSize, которая рендерит элемент, если ширина окна браузера соответствует переданному значения.</p>
    <p> Ширина браузера может изменяться после запуска приложения.</p>
    <p>сервис, который занимается определением текущей ширины окна браузера и должен получать на этапе инициализации конфиг с пороговыми значениями для</p>
    <p> разных типов ширины (нижнее значение, с которого начинается соответствующий тип) конфиг для сервиса должен передаваться через AppModule</p>
    <p>Для тестирования раскомментировать разметку в app.component.html.</p>
    <p><b>Обратить внимание на производительность (на странице могут быть сотни произвольных компонентов)</b></p>
</div>

<viewport *ifViewportSize="'small'" [value]="1"></viewport>
<viewport *ifViewportSize="'medium'" [value]="2"></viewport>
<viewport *ifViewportSize="'large'" [value]="3"></viewport>
