<div class="task-description">
    <p>Форкнуть шаблон приложения и на его основе реализовать табы по указанной в</p>
    <p>app.component.html разметке (в отдельном аккуратно оформленном модуле, в отдельном каталоге)</p>
    <p>-и содержимое, и заголовок должны поддерживать отображение других компонентов/произвольного html</p>
    <p>-по умолчанию активен первый таб</p>
    <p>-должна поддерживаться возможность динамически добавить/убрать таб</p>
    <p>-при удалении активного таба, активным становится первый таб (если остался хотя бы один)</p>
    <p>-учесть что таких блоков с табами на странице может быть множество в разных местах</p>
    <p>-(желательно) контент табов должен инициализироваться только при активации соответствующего таба</p>
    <p>-изменять разметку app компонента можно только для решения проблемы инициализации контента активного таба</p>
    <p><b>Для оформления табов достаточно использовать 3 класса из styles.css. Приложение должно работать без NO_ERRORS_SCHEMA/CUSTOM_ELEMENTS_SCHEMA в AppModule.</b></p>
</div>

<div class="btn-group">
    <button class="btn error" (click)="removeTab()">
        Remove tab
    </button>
    <button class="btn success" (click)="addTab()">
        Add tab
    </button>
</div>

<br>

<tabs class="tabs">
    <tab *ngFor="let tab of tabs">
        <tab-title>
            Tab <b>{{ tab }}</b> title
        </tab-title>
        <tab-content>
            Tab <b>{{ tab }}</b> content
            <test [tab]="tab"></test>
        </tab-content>
    </tab>
</tabs>
